<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
 * The Acegi Security System for Spring is published under the terms
 * of the Apache Software License.
 * $Id$
-->

<beans>

	<!-- =================== CONTEXT RELATED DEFINITIONS ================== -->
	
	<bean id="contextInterceptor" class="net.sf.acegisecurity.context.ContextInterceptor"/>

	<!-- ======================= BUSINESS DEFINITIONS ===================== -->

	<bean id="bankManagerTarget" class="net.sf.acegisecurity.context.BankManagerImpl"/>

	<bean id="bankManager" class="org.springframework.aop.framework.ProxyFactoryBean">
    	<property name="proxyInterfaces"><value>net.sf.acegisecurity.context.BankManager</value></property>
	    <property name="interceptorNames">
      	<list>
        	<value>contextInterceptor</value>
 	        <value>bankManagerTarget</value>
    	</list>
	    </property>
  	</bean>

</beans>
