<html xmlns:th="https://www.thymeleaf.org" xmlns:tiles="https://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : Login</title>
    <!-- /Simple OpenID Selector -->
    <link rel="stylesheet" th:href="@{/resources/css/openid.css}" />
  </head>
  <body>
    <div tiles:fragment="content">
        <form name="f" th:action="@{/login/openid}" method="post" id="openid_form">
            <input type="hidden" name="action" value="verify" />
	        <fieldset>
                <legend>Sign-in or Create New Account</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
	            <div id="openid_choice">
                    <p>Please click your account provider:</p>
                    <div id="openid_btns"></div>

                </div>

                <div id="openid_input_area">
                    <input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
                    <input id="openid_submit" type="submit" value="Sign-In"/>
                </div>
                <noscript>
                <p>OpenID is a service that allows you to log-on to many different websites using a single identity.
                Find out <a href="https://openid.net/what/">more about OpenID</a> and <a href="https://openid.net/get/">how to get an OpenID enabled account</a>.</p>
                </noscript>
	        </fieldset>
	    </form>
	    
    <script type="text/javascript" th:src="@{/resources/js/jquery-1.2.6.min.js}"><!-- --></script>
    <script type="text/javascript" th:src="@{/resources/js/openid-jquery.js}"><!-- --></script>
    <script type="text/javascript">
    $(document).ready(function() {
        openid.init('openid_identifier');
     //   openid.setDemoMode(true); Stops form submission for client javascript-only test purposes
    });
    </script>
    </div>
  </body>
</html>