<html xmlns:th="https://www.thymeleaf.org">
  <head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Messages : Login</title>
    <!-- /Simple OpenID Selector -->
    <link rel="stylesheet" th:href="@{/resources/css/openid.css}" />
  </head>
  <body th:include="layout :: body" th:with="content=~{::content}">
     <div th:fragment="content">
        <h1>User Attributes</h1>
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Attribute Name</th>
                    <th>Attribute Value</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td>ID</td>
                    <td th:text="${authentication.identityUrl}">https://example.com/user/id</td>
               </tr>
                    <tr th:each="attribute : ${authentication.attributes}">
                        <td th:text="${attribute.name}">Attribute Name</td>
                        <td>
                            <dl th:each="value : ${attribute.values}">
                                <dd th:text="${value}">Attribute Value</dd>
                            </dl>
                        </td>
                   </tr>
           </tbody>
        </table>
    </div>
  </body>
</html>