# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
ssrf/build
ssrf/bin

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
build/

# VS Code
.vscode/
