target/
*/src/*/java/META-INF
*/src/META-INF/
.classpath
.springBeans
.project
.DS_Store
.settings/
.idea/
out/
bin/
intellij/
build/
*.log
*.log.*
*.iml
*.ipr
*.iws
.gradle/
gradle.properties
atlassian-ide-plugin.xml
