<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
 * Copyright 2004 Acegi Technology Pty Limited
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Demonstration of the applicationContext.xml that should be copied into
 * JA-SIG CAS's webapp/WEB-INF/deployerConfigContext.xml
 * The example CAS AuthenticationHandler should be placed within CAS's
 * AuthenticationManager's authenticationHandler list property.
 *
 * The Spring Security-specific beans can just be placed in the context file.
 * 
 * $Id:applicationContext.xml 2151 2007-09-22 11:54:13Z luke_t $
-->
<beans>

	<!-- Data access object which stores authentication information -->
	<bean id="inMemoryDaoImpl" class="org.springframework.security.userdetails.memory.InMemoryDaoImpl">
  		<property name="userMap">
			<value>
				marissa=koala,ROLES_IGNORED_BY_CAS
				dianne=emu,ROLES_IGNORED_BY_CAS
				scott=wombat,ROLES_IGNORED_BY_CAS
				peter=opal,disabled,ROLES_IGNORED_BY_CAS
			</value>
		</property>
	</bean>
	
	<bean id="daoAuthenticationProvider" class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
     	<property name="userDetailsService"><ref bean="inMemoryDaoImpl"/></property>
	</bean>

	<bean id="authenticationManager" class="org.springframework.security.providers.ProviderManager">
		<property name="providers">
		  <list>
		    <ref bean="daoAuthenticationProvider"/>
		  </list>
		</property>
	</bean>
	
	<bean id="casAuthenticationHandler" class="org.springframework.security.adapters.cas3.CasAuthenticationHandler">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
</beans>
